{% extends 'template.html.twig' %}
{% block title %} {{ user.username }}{% endblock %}
{%  block pageTitle %} Hey user {% endblock %}
{%  block body %}

Bonjour {{ user.username }} vous avez {{ user.age }} ans !!!
    <p>mon url absolu est {{ url('first') }}</p>

{% endblock %}